 <% layout("./layouts/bieloer.ejs") %>
<body>
    <h3>Create new listings</h3>
    <form action="/listings" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="enter title" name="listing[title]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="discription" class="form-label">Discription</label>
            <textarea type="text" placeholder="enter discription" name="listing[description]" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image url</label>
            <input type="text" placeholder="enter image url" min="0" name="listing[price]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" placeholder="enter price" min="0" name="listing[price]" class="form-control">
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="enter location" name="listing[location]" class="form-control">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" placeholder="enter country" name="listing[country]" class="form-control">
        </div>
        <br><br>
        <button class="btn btn-dark">create</button>
    </form>
</body>